<section id="{{ content.id }}" class="sortable panel">

	<div class="panel-body">

		<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">{{ content.video|mcodevideo|raw }}</div>

		<p><a href="{{ path('mgn_content', {'container': 'article', 'id': article.id, 'content': content.id, 'type': 'video', 'action': 'edit'})}}" class="pull-right text-info content-edit"><small>Editer</small></a></p>

	</div>

</section>