<section id="{{ content.id }}" class="sortable panel">

	<div class="panel-body">

		<img class="img-responsive img-thumbnail" src="{{ content.picture }}" title="" />

		<p><a href="#" class="pull-right text-info"><small>Editer</small></a></p>

	</div>

</section>