{% extends "MgnForumBundle::layout.html.twig" %}

{% block title %}
	Forum inexistant ! - {{ parent() }}
{% endblock %}

{% block arianne %}
	{{ parent() }}
						</li>
						<li class="active">
							Forum inexistant !
{% endblock %}

{% block body_forum %}

	<div class="alert alert-danger">
		<strong>Erreur : </strong>
		Le forum demandé n'as pas été trouvé !
	</div>
    
{% endblock %}
