{% extends "MgnCoreBundle:Theme:editor.html.twig" %}

{% block editor_select %}Layout.html.twig{% endblock %}
{% block editor_select_layout %} class="active"{% endblock %}

{% block editor_contents %}

<div class="row">

	{% for message in app.session.flashbag.get('success') %}
	<div class="col-lg-12">
	    <div class="alert alert-success">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        {{ message }}
	    </div>
	</div>
	{% endfor %}

	<div class="col-lg-12">

		<form method="post" {{ form_enctype(form) }} role="form">

		   	<div class="form-group">

                {{ form_widget(form.layout, { 'id' : 'mgn_corebundle_Editortype', 'attr' : { 'class' : 'form-control', 'rows' : '30' } }) }}

		    </div>

		    {{ form_rest(form) }}

		    <button class="btn btn-primary" type="submit" id="_submit" name="_submit">Mettre à jour le fichier</button>

		</form>

	</div>

</div>

{% endblock %}