{% extends "MgnUserBundle::layout.html.twig" %}

{% block arianne %}
    {{ parent() }}
    </li>
    <li class="active">
        {{ 'user.ariane.resetting'|trans }}
    </li>
{% endblock %}

{% block body %}

<div class="row">

    <div class="col-lg-12">

        <div class="page-header">
            <h1>{{ 'user.requesting.check_email.title'|trans }}</h1>
        </div>

        <div class="alert alert-success alert-dismissable">
            <p>{{ 'user.requesting.check_email.message'|trans }}</p>
        </div>

    </div>

</div>

{% endblock %}